{% extends "../base.html" %}
{% load static %}

{% block content %}
    <h1>{% block title %}Page {{ page.path }}{% endblock %}</h1>

    <p>
        <a href="{% url 'pages_configure' site.id page.id %}"  type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-wrench"></span> Configure
        </a>

        <a href="http://{{ site.hostname }}{{ page.path }}" target="_blank" type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-globe"></span> Show
        </a>
    </p>

    <form method="post" action="{% url 'pages_update' site.id page.id %}">
        {% csrf_token %}
        {% for editableContent in listEditableContent %}
            <h4>{{ page.selector }} {{ forloop.counter0 }}</h4>
            <textarea name="editContent{{ forloop.counter0 }}">
                {{ editableContent|safe }}
            </textarea>
        {% endfor %}
        <input type="hidden" name="fileContent" value="{{ file }}">
        <input type="hidden" name="numEditableContent" value="{{ listEditableContent|length }}">

        <br>
        <button type="submit" class="btn btn-primary">
          <span class="glyphicon glyphicon-floppy-save"></span> Save
        </button>
    </form>
{% endblock %}

{% block js %}
    <!-- Include the editor library -->
{#    <script src="https://cdn.quilljs.com/1.2.2/quill.js"></script>#}

    <script src='https://cloud.tinymce.com/stable/tinymce.min.js?apiKey=59apqlokg6wupr9euafvyvaek9x93jtnefaylhc80a2jg7hq'></script>

    <!-- specific script for this page -->
    <script src="{% static 'pages/edit.js' %}"></script>
{% endblock %}

{% block css %}
    <!-- Include Quill stylesheet -->
{#    <link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">#}
{% endblock %}
