{% extends "../base.html" %}
{% load static %}

{% block content %}
    <h1>{% block title %}Website {{ site.name }} > Page {{ page.path }}{% endblock %}</h1>

    <div id="iziCMSeditor">
        {{ tag|safe }}
    </div>
    <form method="post" action="{% url 'pages_update' site.id page.id %}">
        {% csrf_token %}
        <input type="hidden" id="editContent" name="editContent">
        <input type="hidden" name="fileContent" value="{{ file }}">

        <button class="btn btn-primary" type="submit">Save</button>
    </form>
{% endblock %}

{% block js %}
    <!-- Include the Quill library -->
    <script src="https://cdn.quilljs.com/1.2.2/quill.js"></script>

    <!-- specific script for this page -->
    <script src="{% static 'pages/edit.js' %}"></script>
{% endblock %}

{% block css %}
    <!-- Include Quill stylesheet -->
    <link href="https://cdn.quilljs.com/1.2.2/quill.snow.css" rel="stylesheet">
{% endblock %}
