{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}Configure your website{% endblock %}</h1>

    {% if site.id %}
        <form class="form-horizontal" action="{% url 'websites_update' site.id %}" method="post">
    {% else %}
        <form class="form-horizontal" action="{% url 'websites_create' %}" method="post">
    {% endif %}

        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="hostname">Hostname:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hostname" name="hostname" placeholder="www.example.com" value="{{ site.hostname }}">
            </div>
            <p class="help-block col-sm-10 col-sm-offset-2">The domain name of your static website, i.e. your website's URL, without slashes and without http://.</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="ftp_host">FTP Host:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="ftp_host" name="ftp_host" placeholder="ftp.example.com" value="{{ site.ftp_host }}">
            </div>
            <label class="control-label col-sm-1" for="ftp_port">Port:</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="ftp_port" name="ftp_port" value="{{ site.ftp_port|default:"21" }}">
            </div>
            <p class="help-block col-sm-10 col-sm-offset-2">The address of the FTP server hosting your website.</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="root_folder">Root Folder:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="root_folder" name="root_folder" value="{{ site.root_folder|default:"/" }}">
            </div>
            <p class="help-block col-sm-10 col-sm-offset-2">The path from your FTP server root to your website root. Should start and end with a slash.<br>If your website is in the root-directory of your FTP server, leave '/'</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="ftp_user">Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="ftp_user" name="ftp_user" placeholder="FTP username" value="{{ site.ftp_user }}">
            </div>
            <p class="help-block col-sm-10 col-sm-offset-2">Your FTP username</p>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="FTP password" value="{{ pwd }}">
            </div>
            <p class="help-block col-sm-10 col-sm-offset-2">Your FTP password, it will be stored in your session</p>
        </div>
        <input type="hidden" name="is_new" value="{{ is_new|default:"True" }}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    {% if is_new %}
                        Create connection
                    {% else %}
                        Update connection
                    {% endif %}
                </button>
                {% if site.id %}
                    <a href="{% url 'websites_delete' site.id %}" class="btn btn-danger">
                      <span class="glyphicon glyphicon-trash"></span> Delete
                    </a>
                {% endif %}
            </div>
        </div>
    </form>
{% endblock %}
