{% extends "base.html" %}

{% block content %}
    <h1>{% block title %}Configure your website{% endblock %}</h1>

    <p>{{ message }}</p>

    <form class="form-horizontal" action="{% url 'websites_connect' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label class="control-label col-sm-2" for="hostname">Hostname:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="hostname" name="hostname" placeholder="www.example.com" value="{{ hostname }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="ftp_host">FTP Host:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="ftp_host" name="ftp_host" placeholder="ftp.example.com" value="{{ ftp_host }}">
            </div>
            <label class="control-label col-sm-1" for="port">Port:</label>
            <div class="col-sm-3">
                <input type="number" class="form-control" id="port" name="port" value="{{ port|default:"21" }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="username">Username:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" placeholder="FTP username" value="{{ username }}">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="pwd" name="pwd" placeholder="FTP password" value="{{ pwd }}">
            </div>
        </div>
        <input type="hidden" name="is_new" value="{{ is_new|default:"True" }}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">
                    {% if is_new %}
                        Create connection
                    {% else %}
                        Update connection
                    {% endif %}
                </button>
            </div>
        </div>
    </form>
{% endblock %}